.main {
  width: 100%; 
  height: 785px; 
  position: relative; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  padding: 20px; 
  top: 850px;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.head {
  font-size: 27.66px;
  font-weight: 600;
  line-height: 43px;
}

.headermain {
  box-shadow: 0px 1px 24.4px 1px #00000029;
  background: #1A73E8;
  width: 270px;
  height: 50px;
  border-radius: 8px 8px 0px 0px;
}

.header-text {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  padding: 10px;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: left; 
  align-items: flex-start;
}

.sidebar {
  width: 310px;
  height: auto;
  border-radius: 14px;
  background: #FFFFFF;
  box-shadow: 0px 1px 24.4px 1px #00000029;
  padding-left: 20px;
  margin-right: 20px;
}

.listhead {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1A73E8;
  border-radius: 8px;
  box-shadow: 0px 1px 24.4px 1px #00000029;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.custom-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
  padding: 0 10px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 1px 24.4px 1px #00000029;
  border-radius: 8px;
  margin-bottom: 10px;
 
}
.refer-text {
  color: #1A73E8; /* Adjust color as needed */
}

.table-container {
  flex: 1; /* Take remaining space */
  margin-left: -10px; /* Adjust margin to move the table slightly to the left */
}

.custom-table-container {
  border-radius: 2px; /* Added border radius */
}

.List {
  width: 100%; /* Full width of the sidebar */
  padding: 0;
}

.ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  color: #3C4852;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 7px;
  text-align: left;
}
.showmore {
  border: 1px solid #B6B6B6;
  width: 174.66px;
  height: 41px;
  position: absolute; /* Ensure it can be positioned within its container */
  top: -10px; /* Adjust as necessary based on your layout */
  left: 600px; /* Align to the right */
  padding: 13px 22.75px 13px 33px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 1; /* Ensure it's visible */
}
.themeswitch {
  position: absolute;
  top: 60px;
  right: 290px; /* Adjust as necessary */
  display: flex;
  align-items: center;
}
.enroll {
  color: #3C4852;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 10px;
}

.switch {
  margin-left: 10px; /* Adjust spacing between enroll and switch */
}
