.processcontainer {
  width: 1815px;
  height: 785px;
  position: absolute; /* Use absolute positioning */
  top: 1036px;
  left: -6px;
  gap: 0px;
  opacity: 0px;
  background: #EEF5FF;
}

.container {
  width: 1387px;
  height: 491px;
  position: absolute; /* Use absolute positioning */
  top: 60px;
  left: 269px;
  gap: 0px;
  opacity: 0px;
}

.processcontainer p {
  width: 321px;
  height: 59px;
  position: absolute; /* Use absolute positioning */
  top: 5px;
  left: 749px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 27.66px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
}

.refer-text {
  color: #1A73E8; /* Ensure the span text is blue */
}
.imageprocess{
    width: 1387px;
height: 491px;
top: 1160px;
left: 269px;
gap: 0px;
opacity: 0px;


}
.layer1 {
    position: absolute;
    left: 27.4%;
    right: 68.02%;
    top: 28.72%;
    bottom: 69.81%;
  }
  
  .vector1 {
    position: absolute;
    left: 27.4%;
    right: 69.51%;
    top: 29.6%;
    bottom: 69.81%;
    background: #1A73E8;
  }
  
  .layer1 .p1 {
    width: 193px;
height: 88px;
top: 140px;
left: -30px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #000000;

  }
  .layer1 .p2 {
    width: 193px;
height: 88px;
top: 140px;
left: 350px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #000000;

  }
  .layer1 .p3 {
    width: 193px;
height: 88px;
top: 140px;
left: 750px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #000000;

  }
  /* .icon {
    position: absolute;
    font-size: 1600px;
    color: #1A73E8;
  }
  
  .assignment-icon {
    left: 10%; /* Adjust this value as needed */
  /* }
  
  .create-icon {
    left: 15%; /* Adjust this value as needed */
  /* }  */

  
